<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <p>Team Name: <%= @data['name'] %></p>
   <p>Coach: <%= @data['coach'] %></p>
   <p>Point Guard: <%= @data['pg'] %></p>
   <p>Shooting Guard: <%= @data['sg'] %></p>
   <p>Power Forward: <%= @data['pf'] %></p>
   <p>Small Forward: <%= @data['sf'] %></p>
   <p>Center: <%= @data['c'] %></p>
 </body>
</html>
